//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------
$icon-font-path: "assets/fonts/bootstrap/";


$color-main-white: rgba(255, 255, 255, 1);
$color-secondary-white: rgba(246, 246, 246, 1);

$color-main-red: rgba(255, 64, 32, 1);
$color-main-yellow: #FAF312;
$color-main-black: #3B3C1D;
$color-main-grey: #51504E;
