$main-color: rgba(72,72,72,1);
$main-text-color: rgba(72,72,72,.87);
$main-background-color: #fff;
$border-color: #E0E0E0;

$base-size: 1.125em;
$base-size-greater: 1.618em;
$base-size-greater-two: 2.618em;
$base-size-greater-three: 4.236em;
$base-size-smaller: 0.618em;
$base-size-smaller-two: 0.382em;
$base-size-smaller-three: 0.236em;
